<div class="float-right">
  <% if signed_in? %>
  
  <% else %>
    <%= link_to 'Sign in', signin_path %>
  <% end %>
</div>

<h1>Members Only Posts</h1>



<% if signed_in? %>
  <%= link_to "Create a Post", new_post_path %>
<% end %>
